body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

header {
  padding: 20px;
  background-color: #f8f8f8;
}

footer {
  padding: 20px;
  background-color: #f8f8f8;
}

main {
  padding: 20px;
  margin: auto;
  max-width: 800px;
  text-align: left;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  /* Adjust max-width as needed */
}
